#footer {
  height: $header-footer-height;
  display: flex;
  background: $dark-grey;
  justify-content: center;
  align-items: center;

  .external-profile-link {
    width: 2rem;
    fill: #fff;

    &:hover {
      fill: #eee;
    }
  }

  .external-profile-link:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}
