#footer {
  display: flex;
  background: $light-grey;
  justify-content: center;

  .external-profile-link {
    width: 2rem;
    fill: #fff;
    margin: 1rem;

    &:hover {
      fill: #eee;
    }
  }

  .external-profile-link:last-child {
    margin-right: 0;
    margin-left: 0;
  }
}
