#footer {
  // Flexbox
  display: flex;
  background: $dark;
  justify-content: center;
  align-items: center;

  // Dimensions
  height: $header-footer-height;
  width: 100%;

  // Positioning
  position: fixed;
  bottom: 0;
  left: 0;

  .external-profile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: $light;
    color: $light;
  }
}
