#header {
  // Flexbox
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  // Positioning
  position: sticky;
  top: 0;

  // Dimensions
  width: 100%;
  height: $header-footer-height;

  // Colours
  background: $background-light;
  color: $text-dark;

  #header__title {
    font-weight: bold;
    font-size: 2.5rem;
  }

  #header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 250px;
  }

  #header__nav a {
    color: $text-dark;
  }
}
