// Works for Webkit- (Safari) and Blink-based broswers (Chrome, Opera, Edge)
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $background-l;
}

::-webkit-scrollbar-track {
  background: $background-dark;
}
