// Colours
$dark: #222;
$light: #f5f5f5;

// Palette
$storm-gray: #716f81;
$bouquet: #b97a95;
$blue-lagoon: #7ee8fa;
$tan: #f2e1c1;

// Gradients
$welcome-gradient: linear-gradient(45deg, $bouquet 0%, $storm-gray 100%);
$welcome-gradient: linear-gradient(315deg, $bouquet 0%, $blue-lagoon 100%);

// Numerical Values
$header-footer-height: 60px;
$border-radius: 4px;
