// Colours
$dark: #222;
$light: #f5f5f5;

// Palette
$storm-gray: #716f81;
$turkish-rose: #6d8299;
$rose-bud: #8ca1a5;
$sidecar: #d5bfbf;

// Gradients
$welcome-gradient: linear-gradient(45deg, $turkish-rose 0%, $sidecar 100%);

// Numerical Values
$header-footer-height: 60px;
