@import "partials/_variables.scss";

#welcome {
  // Flexbox
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Dimensions
  height: 30vh;
  width: 100%;

  // Colour
  background-image: $welcome-gradient;
  color: $light;

  // Misc
  user-select: none;

  #welcome__greeting {
    font-size: 4rem;
  }

  #welcome__name {
    font-size: 1rem;
  }
}

.section:not(#welcome) {
  margin: 1rem;

  .section__sub-title {
    font-size: 1.25rem;
  }

  .section__sub-title::before {
    content: "→";
    color: #aaa;
    margin-right: 1rem;
  }

  .section__title {
    margin: 0;
    margin-left: 1em;
    font-weight: bold;
    font-size: 2rem;
    color: $storm-gray;
  }
}
