@use "sass:color";
@import "partials/variables";
@import "partials/header";
@import "partials/scrollbar";
@import "partials/footer";
@import "partials/page-content";

// Global styles
body {
	min-width: 100%;
	min-height: 100vh;
	margin: 0;
	font-family: "Lato", sans-serif;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
