@import "partials/_variables.scss";
@import "partials/_header.scss";
@import "partials/_scrollbar.scss";
@import "partials/_footer.scss";

// Global styles
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}
